h1{
	font-size:300%;
	font-family:"Times New Roman"
	text-decoration:wavy underline
}
h2{
	font-size:200%
	font-family:"Arial"
}
h1, h2, h3, p{
	color:blue;
	text-align:center;
}
body{
	background-color:grey;
	margin:10px
}
ul{
	text-align:center;
}
table,th,td{
	border-collapse:collapse;
	border:3px solid, black;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	line-through:3px solid, green;
}
th{
	background-color:green;
}
td{
	background-color:yellow;
}